* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
