@mixin row-style($color) {
    background-color: $color;
    box-shadow: inset 0 0 6px lighten($color, 30%);
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    @include row-style(#eaeaea);
}

tr:nth-child(odd) {
    @include row-style(#dbdbdb);
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}
